@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

body {

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #007bff;
    margin: 0 10px;
}

main {
    background-image: url(../imagens/planta.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
}


#container {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px; 
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}